@import "../../style.scss";

.postt {
  @include themify($themes) {
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;
    background-color: themed("bg");
    color: themed("textColor");

    .containerr {
      padding: 20px;
    
      margin-bottom: 20px; 

      .userr {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .userInfoo {
          display: flex;
          gap: 20px;

          imgg {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }

          .detailss {
            display: flex;
            flex-direction: column;

            .namee {
              font-weight: 500;
            }

            .datee {
              font-size: 12px;
            }
          }
        }
      }

      .contentt {
        margin: 20px 0px;

        imgg {
          width: 100%;
          max-height: 500px;
          object-fit: cover;
          margin-top: 20px;
        }
      }

      .infoo {
        display: flex;
        align-items: center;
        gap: 20px;

        .itemm {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          font-size: 14px;
        }
        .right {
          button {
            border: none;
            padding: 5px;
            color: white;
            cursor: pointer;
            background-color: #5271ff;
            border-radius: 3px;
          }
        }
      }
    }
  }
}
